body {
  background: rgba(120, 159, 12, 1);
  background: -moz-linear-gradient(
    left,
    rgba(120, 159, 12, 1) 0%,
    rgba(255, 225, 0, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, rgba(120, 159, 12, 1)),
    color-stop(100%, rgba(255, 225, 0, 1))
  );
  background: -webkit-linear-gradient(
    left,
    rgba(120, 159, 12, 1) 0%,
    rgba(255, 225, 0, 1) 100%
  );
  background: -o-linear-gradient(
    left,
    rgba(120, 159, 12, 1) 0%,
    rgba(255, 225, 0, 1) 100%
  );
  background: -ms-linear-gradient(
    left,
    rgba(120, 159, 12, 1) 0%,
    rgba(255, 225, 0, 1) 100%
  );
  background: linear-gradient(
    to right,
    rgba(120, 159, 12, 1) 0%,
    rgba(255, 225, 0, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#789f0c', endColorstr='#ffe100', GradientType=1 );
  font-family: Arial, Helvetica, sans-serif;
}

header {
  margin-bottom: 100px;
}
nav {
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.6);
}

.nav-link:hover {
  background-color: red;
}
